.smAdminCampaignConfigure, .smAdminRefreshLists, .smAdminConfigSubscribeForm, .smAdminExportList{
	margin-right:5px;
}
.force_full_width{
	width:100%!important;
}
.campaignModalBody{
	position: relative;
}
.campaignModalProgress{
	display:none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100000;
    background-color: rgba(255,255,255,0.5);
}
.logSheet{
	display:none;
}
.logSheetWrapper{
    margin: 30px 10px;
}